<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Awesome Parking app</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/w3css.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="main">       
        <div class="header">
            <img src="images/tittle.png" alt="">
            <img src="images/reload.png" class="reload" alt="">
        </div>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    sort by:
                    <select id="select" >
                          <option value="plateNumber" id="number">plate Number</option>
                          <option value="model" id="mod">Model</option>
                          <option value="ownerName" id="name" >Owner name</option>
                          <option value="ownerPhone" id="phone" >Owner phone</option>
                          <option value="arrivalDate" id="date" >Arrival date</option>
                          <option value="inHour" id="in" >In Hour</option>
                          <option value="outHour" id="out" >Out Hour</option>
                    </select>  
                    create fake users:                               
                    <i class="fa fa-male" aria-hidden="true"></i>

                    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for plate number.." title="Type in a name"><br>
                    <div class="table100 ver2 m-b-110">
                        <div class="table100-head">
                            <table class="table" id='table'>
                                <thead>
                                    <tr class="row100 head">
                                        <th scope="col"   class="cell100 column1">Plate number</th>
                                        <th class="cell100 column2">Model</th>
                                        <th class="cell100 column3">Owner name</th>
                                        <th class="cell100 column4">Owner phone</th>
                                        <th class="cell100 column5">Arrival date</th>
                                        <th class="cell100 column6">In Hour</th>
                                        <th class="cell100 column7">Out Hour</th>
                                        <th class="cell100 column8">
                                                <div class="inblock" >Delete                                                  
                                                    <i id="deleteSelect" class="fa fa-trash"></i>
                                                </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table id="myTable">
                               <tbody>

                                    <!-- {{{listVehicles list sort}}} -->
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="container">
            <form id="booking-form" class="booking-form" >
                <div class="form-group">
                    <div class="form-destination">
                        <label for="destination">Plate number</label>
                        <input type="text" id="plateNumber" name="plateNumber" placeholder="EG. MLJ974" />
                    </div>
                    <div class="form-destination">
                        <label for="destination">Model</label>
                        <input type="text" id="model" name="model" placeholder="EG. 2006" />
                    </div>             
                    <div class="form-destination2">
                        <label for="destination">Owner name</label>
                        <input type="text" id="ownerName" name="ownerName" placeholder="EG. Pepito perez" />
                    </div>
                    <div class="form-destination2">
                        <label for="destination">Owner phone</label>
                        <input type="text" id="ownerPhone" name="ownerPhone" placeholder="EG. 30045169" />
                    </div>
                    <div class="form-date-from form-icon">
                        <label for="date_from">Arrival date</label>
                        <input type="date" id="arrivalDate" name="arrivalDate" class="arrivalDate" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-date-to form-icon">
                        <label for="date_to">In Hour</label>
                        <input type="time" id="inHour"  name="inHour" class="inHour" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-date-to form-icon">
                        <label for="date_to">Out Hour</label>
                        <input type="time" id="outHour" name="outHour" class="outHour" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-submit">
                        <button type="button" id="submit" class="submit">ENTER</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- backtop button -->
    <a id="buttonTop"></a>
      <!-- delete Modal-->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Warnning, do you want to delete a entry?</h2>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-green">Procced</button>
          </div>
        </div>
    </div>
          <!-- delete select Modal-->
    <div id="id01" class="w3-modalSelect">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Warnning, do you want to delete multiple entries?</h2>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-greenSelect">Procced</button>
          </div>
        </div>
    </div>
              <!-- fake select Modal-->
    <div id="id01" class="w3-modalFake">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>How many fakes do you want?</h2>
            <input id="fakestimes" name="fakes"/>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-greenFake">Procced</button>
          </div>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/notify.min.js"></script>
    <script src="js/main.js"></script>

    <script>
    function search() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

    <script>       
        $(function(){
            let apiUrl = 'http://localhost:5000'
            let id = ""
            let listIds = []
            $.notify("Testing server connection ...",{className:"info", position:"right bottom"})
            $.get(apiUrl + '/parking')
                .done(() => $.notify( "Conection stablished", {className:"success", position:"right bottom"}))
                .fail(() => $.notify('Conectenion Failed',{className:"Error", position:"right bottom"}))
            $.ajax({
                  method: "GET",
                  url: "/parking"
                })
                .done(function( veh ) {
                    veh.forEach( vehc => {
                        $('tbody').append(`<tr class="row100 body" data-id=${vehc.id}>
                        <td scope="row" class="cell100 column1">${vehc.plateNumber}</td>
                        <td class="cell100 column2">${vehc.model}</td>
                        <td class="cell100 column3">${vehc.ownerName}</td>
                        <td class="cell100 column4">${vehc.ownerPhone}</td>
                        <td class="cell100 column5">${vehc.arrivalDate}</td>
                        <td class="cell100 column6">${vehc.inHour}</td>
                        <td class="cell100 column7">${vehc.outHour}</td>
                        <td class="cell100 column8">
                            <div class="inblock" >
                                <i id="edit" data-id=${vehc.id} class="fa fa-pencil" ></i>
                                <i id="delete" data-id=${vehc.id} class="fa fa-trash"></i>
                                <input type="checkbox" data-id=${vehc.id} class="check"/> 
                            </div>
                        </td>
                        </tr>`)   
                    })
            });
            $("#submit").on('click', function(){
                let np = $("#plateNumber").val()
                let md = $("#model").val()
                let own = $("#ownerName").val()
                let owp = $("#ownerPhone").val()
                let arrd = $("#arrivalDate").val()
                let inh = $("#inHour").val()
                let outh = $("#outHour").val()
                $.ajax({
                  method: "POST",
                  url: "/parking",
                  data: {plateNumber:np,model:md,ownerName:own,ownerPhone:owp,arrivalDate:arrd,inHour:inh,outHour:outh}
                })
                .done(function( veh ) {
                    // console.log( "Data Saved: " + veh);                
                    $('tbody').append(`<tr class="row100 body" data-id=${veh.data.id}>
                    <td scope="row" class="cell100 column1">${veh.data.plateNumber}</td>
                    <td class="cell100 column2">${veh.data.model}</td>
                    <td class="cell100 column3">${veh.data.ownerName}</td>
                    <td class="cell100 column4">${veh.data.ownerPhone}</td>
                    <td class="cell100 column5">${veh.data.arrivalDate}</td>
                    <td class="cell100 column6">${veh.data.inHour}</td>
                    <td class="cell100 column7">${veh.data.outHour}</td>
                    <td class="cell100 column8">
                        <div class="inblock" >
                            <i id="edit" data-id=${veh.data.id} class="fa fa-pencil" ></i>
                            <i id="delete" data-id=${veh.data.id} class="fa fa-trash"></i>
                            <input type="checkbox" data-id=${veh.data.id} class="check"/> 
                        </div>
                    </td>
                    </tr>`)               
                });
            })    
            $("#delete").on('click', function(){
                alert("hola")
                id = $(this).data("id")    
                console.log(id)   
                $('#selectChange').attr("class","w3-green")   
                $('.w3-modal').show()                
            }) 
            $("#deleteSelect").on('click', function(){  
                let ids = $(".check:checkbox").filter(":checked")   
                Array.prototype.forEach.call(ids, function(el) {
                    listIds.push(el.getAttribute('data-id'));
                });
                console.log(listIds)  
                $('.w3-modalSelect').show()           
            })
            $(".fa.fa-pencil").on('click', function(){   
                id = $(this).data("id")   
                let rowdata = $(this).parent().parent().parent().children()   
                let extractedData = []  
                Array.prototype.forEach.call(rowdata, function(el) {
                    extractedData.push(el.innerText);
                });
                let np = $("#plateNumber").val(extractedData[0])
                let md = $("#model").val(extractedData[1])
                let own = $("#ownerName").val(extractedData[2])
                let owp = $("#ownerPhone").val(extractedData[3])
                let arrd = $("#arrivalDate").val(extractedData[4])
                let inh = $("#inHour").val(extractedData[5])
                let outh = $("#outHour").val(extractedData[6])
                // $("#booking-form").attr('class',`edit-form`)
                $("#booking-form").attr('action'," ")
                $("#booking-form").attr('method'," ")
                //$(".form-submit").append(`<input type="hidden" name="_method" value="PUT"/>`)
                $("#submit").text("EDIT")
                $("#submit").attr('class',"submitEdit")
                $("#submit").removeAttr('type')     
            }) 
            $(".w3-green").on('click', function(){
                var xhr = new XMLHttpRequest();
                xhr.open('delete', `/parking/${id}`, true);
                var a = performance.now();
                xhr.send(); 
                var b = performance.now();
                console.log('It took ' + (b - a) + ' ms.');
                xhr.onreadystatechange = function() { // (3)
                  if (xhr.readyState != 4) return;                
                  if (xhr.status != 200) {
                    console.log(xhr.status + ': ' + xhr.statusText);
                  } else {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                  }
                }
                $('.w3-modal').hide() 
                setTimeout(function(){ 
                    window.location.href = '/';
                }, 500);                                 
            })
            $(".w3-greenSelect").on('click', function(ids){
                listIds.forEach(idin => {
                    let idto = parseInt(idin)
                    console.log(idto)
                    $.ajax({
                      method: "DELETE",
                      url: `/parking/${idto}`              
                    })
                    .done(function( veh ){
                        console.log(veh)
                        $(`tbody tr[data-id=${veh.id}]`).remove();                      
                    })
                })
                $('.w3-modalSelect').hide()                                        
            })
            $(".w3-greenFake").on('click', function(){
                var times = $("#fakestimes").val()
                for(i=0;i<times;i++){
                    var xhr = new XMLHttpRequest();
                    xhr.open('get', `/?fake="true"`, true);
                    var a = performance.now();
                    xhr.send(); 
                    var b = performance.now();
                    console.log('It took ' + (b - a) + ' ms.');
                    xhr.onreadystatechange = function() { 
                      if (xhr.readyState != 4) return;                
                      if (xhr.status != 200) {
                        console.log(xhr.status + ': ' + xhr.statusText);
                      } else {
                        console.log(xhr.status);
                        console.log(xhr.responseText);
                      }
                    }
                }    
                $('.w3-modalFake').hide() 
                setTimeout(function(){ 
                        window.location.href = '/';
                }, 1500);                                       
            })
            $(".w3-red").on('click', function(){
               $('.w3-modal').hide()
               $('.w3-modalSelect').hide()
               $('.w3-modalFake').hide()                     
            })
            $(".reload").on('click', function(){
               window.location.href = '/';                   
            })

            //back top              
            var btn = $('#buttonTop');
            $(window).scroll(function() {  
                if ($(window).scrollTop() > 10) {
                  btn.css({visibility:'visible'})
                } else {
                  btn.css({visibility:'hidden'})
                }
            });
            btn.on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({scrollTop:0}, '200');
            });

            //Sort the table
            $('#select').click(function() {
                let des = $('#select').find(":selected").text();
                console.log(des)
                var xhr = new XMLHttpRequest();
                xhr.open('get', `/?sort=${des}`, true);
                var a = performance.now();
                xhr.send(); 
                var b = performance.now();
                console.log('It took ' + (b - a) + ' ms.');
                xhr.onreadystatechange = function() { 
                  if (xhr.readyState != 4) return;                
                  if (xhr.status != 200) {
                    console.log(xhr.status + ': ' + xhr.statusText);
                  } else {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                  }
                setTimeout(function(){ 
                    window.location.href = '/';
                }, 3000); 
                }
            });
            //fake user
            $('.fa.fa-male').click(function() {
                $('.w3-modalFake').show() 
            });
        })        
    </script>
   

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

