<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Parking app</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="main">
        
        <div class="header">
            <img src="images/tittle.png" alt="">
            <img src="images/dots.png" alt="">
        </div>
        <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver2 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Plate number</th>
                                    <th class="cell100 column2">Model</th>
                                    <th class="cell100 column3">Owner name</th>
                                    <th class="cell100 column4">Owner phone</th>
                                    <th class="cell100 column5">Arrival date</th>
                                    <th class="cell100 column6">In Hour</th>
                                    <th class="cell100 column7">Out Hour</th>
                                    <th class="cell100 column8">Edit</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="cell100 column1">MLJ974</td>
                                    <td class="cell100 column2">1994</td>
                                    <td class="cell100 column3">EDWARD CALDERON</td>
                                    <td class="cell100 column4">3004519629</td>
                                    <td class="cell100 column5">14-05-2019</td>
                                    <td class="cell100 column6">1:30</td>
                                    <td class="cell100 column7">9:99</td>
                                    <td class="cell100 column8">
                                        <div class="inblock">
                                            <i id="edit" class="fa fa-pencil"></i>
                                            <i id="delete" class="fa fa-trash"></i>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">XXX666</td>
                                    <td class="cell100 column2">1000AC</td>
                                    <td class="cell100 column3">LUCIFER SANTOS</td>
                                    <td class="cell100 column4">666999333</td>
                                    <td class="cell100 column5">21-21-12</td>
                                    <td class="cell100 column6">6:66</td>
                                    <td class="cell100 column7">9:99</td>
                                    <td class="cell100 column8">
                                        <div class="inblock">
                                            <i id="edit" class="fa fa-pencil" ></i>
                                            <i id="delete" class="fa fa-trash"></i>
                                        </div>
                                    </td>
                                </tr>
                                {{{listVehicles list}}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
        </div>
        <div class="container">

            <form id="booking-form" class="booking-form" method="POST" action="/parking">
                <div class="form-group">
                    <div class="form-destination">
                        <label for="destination">Plate number</label>
                        <input type="text" id="destination" name="plateNumber" placeholder="EG. MLJ974" />
                    </div>
                    <div class="form-destination">
                        <label for="destination">Model</label>
                        <input type="text" id="destination" name="model" placeholder="EG. 2006" />
                    </div>
                    
                    <div class="form-destination2">
                        <label for="destination">Owner name</label>
                        <input type="text" id="destination" name="ownerName" placeholder="EG. Pepito perez" />
                    </div>
                    <div class="form-destination2">
                        <label for="destination">Owner phone</label>
                        <input type="text" id="destination" name="ownerPhone" placeholder="EG. 30045169" />
                    </div>
                    <div class="form-date-from form-icon">
                        <label for="date_from">Arrival date</label>
                        <input type="text" id="date_from" name="arrivalDate" class="arrivalDate" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-date-to form-icon">
                        <label for="date_to">In Hour</label>
                        <input type="time" id="time"  name="inHour" class="hourIn" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-date-to form-icon">
                        <label for="date_to">Out Hour</label>
                        <input type="time" id="time" name="outHour" class="hourIn" placeholder="Pick " />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-submit">
                        <input type="submit" id="submit" class="submit" value="Enter" />
                    </div>
                </div>
            </form>
        </div>
    </div>

  <!-- delete Modal-->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/notify.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        
        $(function(){
            let apiUrl = 'http://localhost:5000'
            $.notify("Testing server connection ...",{className:"info", position:"right bottom"})
            $.get(apiUrl + '/parking')
                .done(() => $.notify( "Conection stablished", {className:"success", position:"right bottom"}))
                .fail(() => $.notify('Conection FAILED',{className:"error", position:"right bottom"}))
            $(".fa.fa-trash").on('click', function(){
                let id = $(this).data("id")

                //  // 1. Creating new XMLHttpRequest object
                // var xhr = new XMLHttpRequest();
                // var a = performance.now();
                // // 2. Configuring it: GET-request to 'example.json' URL
                // xhr.open('DELETE', `/parking/${id}`, false);
                // // 3. Sending it
                // xhr.send();
                // console.log( xhr.responseText ); 
                // var b = performance.now();
                // console.log('It took ' + (b - a) + ' ms.');
                // // 4. if response status code is not 200 then it is an error
                // if (xhr.status != 200) {
                //   // error handling
                //   console.log( xhr.status + ': ' + xhr.statusText ); // Output example: 404: Not Found
                // } else {
                //   // show the result
                //   console.log( xhr.responseText ); // response Text.
                // }
                // alert("vehiculo borrado")
                
                // var xhr = new XMLHttpRequest();
                // xhr.open('DELETE', `/parking/${id}`,  true);

                // var a = performance.now();

                // xhr.send(); // (1)

                // console.log( xhr.responseText );

                // var b = performance.now();
                // console.log('It took ' + (b - a) + ' ms.');

                // xhr.onreadystatechange = function() { // (3)
                //   if (xhr.readyState != 4) return;
                  
                //   if (xhr.status != 200) {
                //     console.log(xhr.status + ': ' + xhr.statusText);
                //   } else {
                //     console.log(xhr.status);
                //     console.log(xhr.responseText);
                //   }
                // }
                // alert("vehiculo borrado")
                var xhr = new XMLHttpRequest();

                console.log('currentReadyState is:', xhr.readyState)

                xhr.open('DELETE', `/parking/${id}`, true);

                xhr.send(); // (1)

                console.log('currentReadyState is:', xhr.readyState)
                xhr.onreadystatechange = function() { // (3)
                  console.log('currentReadyState is:', xhr.readyState)
                }
                alert("vehiculo borrado")

            }) 

        })
        
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

